*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
  color:white;
}

body{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color:#222 ;
} 
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 
}

button{
  padding: 18px 32px;
  background-color: #444;
  color: white;
  border: 0;
  cursor: pointer;
  border-radius:4px;
  margin: 15px 0;
}